PORT=5003
MONGODB_URI=mongodb://localhost:27017/calculator
NODE_ENV=development
CLIENT_URL=http://localhost:3000



#🔑 Special steps

#etflix Clone → get a free TMDB API key at themoviedb.org and add it #to .env
#Connect Four → the Socket.io multiplayer works out of the box — share a #roomId with a friend on the same network